* {
    box-sizing: border-box;
    transition: 2s;
}

body {
    margin: 0;
    background-color: #688acc;
    font-family: monospace;
}

.main-container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.main-container > div {
    flex-grow: 1;
}

.sun {
    height: 160px;
    width: 160px;

    border-radius: 50%;
    background-color: #ffdd00e7;
    
    margin-block-start: 100px;
    margin-inline: auto;
}

h1 {
    margin-inline-end: 20px;
    font-size: 26px;
}

/* Tablet */

@media screen and (max-width: 992px) {
    body {
        background-color: darkcyan;
    }
    .sun {
        background-color: rgba(221, 147, 9, 0.924);
        margin-block-start: 300px;
    }
}

/* Mobile */

@media screen and (max-width: 768px) {
    body {
        background-color: darkblue;
    }
    .sun {
        background-color: rgba(216, 31, 14, 0.863);
        margin-block-start: 600px;
    }
    h1 {
        font-size: 20px;
        color: white;
    }
}