* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin-block-end: 100px;
}

h2 {
    font-size: 1.3rem;
    text-transform: uppercase;
}

main {
    width: min(90vw, 1000px);
    margin: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.details p {
    text-align: justify;
}

.details .actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-block-start: 50px;
}

@media (width > 780px) {
    main {
        display: flex;
        gap: 2em;
    }

    .gallery {
        align-items: start;
        justify-content: end;
        flex-basis: 50%;
    }
    
    .details {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
    }

    h2 {
        margin-block-start: 0;
    }

    .actions {
        align-self: end;
    }
}